body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px 0;

    border: 0;
    background-color: rgb(53, 52, 52) ;

}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/intro.jpg) center
    no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.intro__title{
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto 0;

    background-color: #fff;
}

.header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.nav{
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;

}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}
.nav__link:hover:after{
    opacity: 1;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s
    linear, color .1s linear;

}
.btn:hover {
    background-color: #fff;
    color: rgb(163, 211, 255);
}

.section {
    padding: 80px 0;
    background: url(../img/intro1.jpg) 
}

.section1 {
    padding: 80px 0;
    background: linear-gradient(to bottom,#b3a3ad, #8abbcc);
}

.section2 {
    padding: 80px 0;
    background: linear-gradient(to bottom,#8cbbcd, #c19ca3);
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    color: black;
    

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script',
    cursive;
    font-size: 35px;
    color: #333;
    
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__suptitle:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    
    background-color: #8d8d8d;
}

.section__text {
    font-size: 15px;
    color: #333
}

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: 380px;
    position: relative;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img{
    opacity: .4;
}

.about__item:hover .about__text {
    opacity: 1;
}


.about__img {
    background: linear-gradient(to bottom, #afa5b0, #f38181);
    transition: transform .2s linear;
}

.about__img img {
    display: block;
    transition: opacity .1s linear ;
}

.about__text {
    width: 100%;
    font-size: 18px ;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear ;
}

.services {
    display: flex ;
}

.services__item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    margin-bottom: 10px;
    font-style: 14px;
    font-weight: bold;
    color:black;
    text-transform: uppercase;
}

.services__text {
    font-size: 15px;
    color: rgb(70, 70, 70);
}

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews .slick-slider {
    padding: 0 110px;
}

.reviews__item {
    min-height: 210px;
    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    border: 2px solid #858585;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    margin-bottom: 15px;

    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #000000;
}

.slick-arrow {
    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid rgb(0, 0, 0);
    border-left: 2px solid rgb(0, 0, 0);
}


.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next,
.slick-next {
    right: 0;
    transform: rotate(135deg);
}

.footer {
    padding-top: 65px;

    background: linear-gradient(to bottom,#c19ea4, #8abbcc);
}

